:root {
    --color1: #071844;
    --color2: #ECECEC;
}

.btn-sesion {
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 16px;
    font-size: 1rem;
    padding: 10px 0;
    margin: 0 30px 0 300px;
    width: 200px;
    cursor: pointer;
    transition: all 1s ease;
    font-family: "Poppins", sans-serif;
}

.btn-sesion:hover {
    background-color: var(--color1);
    color: var(--color2);
    
}

a {
    color: var(--color2);
    text-decoration: none;
}




/* section 0  */


.btn-mas {
    width: 200px;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 6%;
    transition: 1s all ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: var(--color1);
    color: var(--color2);
    margin-left: 20%;
}

.btn-mas:hover {
    border: var(--color1);
    background-color: var(--color2);
    color: var(--color1);
    transform: scale(1.2); 
}


/* section2 */
#btn-info {
    width: 200px;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 6%;
    transition: 1s all ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}

#btn-info:hover {
    background-color: var(--color2);
    color: var(--color1);
    transform: scale(1.2); 
}

/* section4 */
#btn-solicitar {
    width: 200px;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 15px;
    transition: 1s all ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

#btn-solicitar:hover {
    background-color: var(--color2);
    color: var(--color1);
    transform: scale(1.2);
    
}

/* footer */
#btn-politicas {
    width: 100%;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 6%;
    transition: 1s all ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}

#btn-politicas:hover {
    background-color: var(--color2);
    color: var(--color1);
    transform: scale(1.2);
}

/* Media query para ajustar los estilos de hover en pantallas más pequeñas */
@media (max-width: 950px) {
    #btn-info:hover,
    #btn-solicitar:hover,
    #btn-politicas:hover {
        background-color: var(--color1);
        color: var(--color2);
        transform: none; /* Elimina la transformación en hover en pantallas más pequeñas */
    }

    .btn-mas:hover {
        border: none; /* Elimina el borde en hover en pantallas más pequeñas */
        background-color: var(--color1); /* Mantén el color de fondo original en hover */
        color: var(--color2); /* Mantén el color de texto original en hover */
        transform: none; /* Elimina cualquier transformación en hover en pantallas más pequeñas */
    }
}