:root {
    --color1: #071844;
    --color2: #ECECEC;
}

.btn-sesion {
    border-radius: 16px;
    font-size: 1.2rem;
    padding: 10px;
    width: 150px;
    border: 0.5px solid var(--color1);
    cursor: pointer;
    transition: all 1s ease;
    font-family: "Noto Sans", sans-serif;
}

.btn-sesion:hover {
    background-color: var(--color1);
    color: var(--color2);
}


/* section2 */

#btn-info {
    width: 200px;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 6%;
    transition: 1s all ease;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
}

#btn-info:hover{
    border: var(--color2);
    background-color: var(--color1);
    color: var(--color2);
    transform: scale(1.2);
}

/* section4 */

#btn-solicitar {
    width: 200px;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 15px;
    transition: 1s all ease;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
}

#btn-solicitar:hover {
    border: var(--color2);
    background-color: var(--color1);
    color: var(--color2);
    transform: scale(1.2);
}