
:root {
    --color1: #071844;
    --color2: #ECECEC;
    --fondo: #2E5B7D;
    --borde: #D6D6D6;
}


* {
    border: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 247, 247);
    /* font-family: "Noto Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
    margin-top: 100px;

    overflow-y: scroll;
}

#whatsapp {
    width: 60px;
    position: fixed;
    bottom: 80px;
    right: 20px; 
    z-index: 1000;
}


/* ---------------- seccion cero inicial ----------------- */

.section-0 {

    background-color: var(--fondo);

    height: 550px;
    width: 100%;
    margin: 2% 0 ;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-direction: row;
}

.section-0 .division-1 {
    margin: 5%;
}

.section-0 .division-1 h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--color2);
}

.section-0 .division-1 p {
    font-size: 1.5rem;
    margin: 30px 0;
}

.section-0 .division-2 img {
    height: 100%;
    border-radius: 200px 0 0 0;
}

.section-0 .division-2 .img-2 {
    display: none; /* Oculta la imagen en pantallas más pequeñas */
}

.section-0 .division-1 .img-3 {
    display: none; /* Oculta la imagen en pantallas más pequeñas */
}




/* ---------------- primer section carrusel -------------- */

#img-1,
#img-2,
#img-3 {
    width: 100%; /* Las imágenes ocuparán el ancho completo del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}

.img-carrusel {
    width: 100%; /* Las imágenes del carrusel ocuparán el ancho completo */
    max-width: 1020px; /* Limitar el ancho máximo */
    height: auto; /* Mantener la proporción de aspecto */
    object-fit: cover;
}

.section-1 {
    margin: 2% 3% 1% 17% ; /* Margen superior e inferior del 2%, centrado horizontalmente */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 63%; /* Se adapta al ancho del contenedor principal */
    height: 50%;
    overflow: hidden;
    border-radius: 15px;
}

.desImg {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}




/* ------------------ separacion ----------------- */

.bordes {
    border: none;
    border-top: 1px solid var(--borde);
    margin: 40px 10%;
    width: 80%;   
}


/* ---------------------section 2 -------------------- */

h2, span {
    font-size: 3rem;
    margin-left: 40%;
}

.partir {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.tarjeta {
    width: 30em;
    margin-left: 10%;
}

.partir .parte-2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}




.partir .parte-2 p{
    width: 70%;
    font-size: 1.2rem;
    margin-left: 10%;
}

/* --------------- section 3 ----------------- */

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}

.section-3 h3 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section-3 p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.section-3 img {
    width: 700px;
}


/* ------------------- footer ------------------- */

/* ------------------- separacion footer 1 ---------------- */
.borFooter {
    height: 150px;
    border: none;
    border-left: 1px solid white;
}

.footer .partFooter-1, .partFooter-2 {
    background-color: /* rgb(10, 10, 66) */ var(--fondo);
    color: whitesmoke;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    padding: 20px 0;
}

.footer .partFooter-1 .separacion-1 {
    margin: 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.footer .partFooter-1 .separacion-1:last-child {
    height: 150px;
    border: none;
    border-left: 1px solid white;
}


.footer .partFooter-1 .separacion-1 h4 {
    margin: 20px 0;
    font-size: 2rem;
}

.footer .partFooter-1 .separacion-1 .logo-sin {
    width: 150px;
    background-color: var(--color2);
    padding: 10px;
    border-radius: 15px;
}


/* ----------- separacion footer 2 ------------- */

.footer .partFooter-1 .separacion-2 {
    margin: 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 150px;
    border: none;
    border-left: 1px solid white;
}




.footer .partFooter-1 .separacion-2 h5 {
    margin: 20px 0;
    font-size: 2rem;
}

.footer .partFooter-1 .separacion-2 ul li {
    list-style: none;
    margin: 5px 0;
    font-size: 1.2rem;
}


/* ----------- separacion footer 3 ------------- */

.footer .partFooter-1 .separacion-3 {
    margin: 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 150px;
    border: none;
    border-left: 1px solid white;
}

.footer .partFooter-1 .separacion-3 .tarjeta-sin {
    width: 180px;
}

.footer .partFooter-1 .separacion-3 .redes a i {
    margin: 10px;
    color: whitesmoke;
    transition: 1s all ease;
}

.footer .partFooter-1 .separacion-3 .redes a i:hover {
    transform: scale(1.5);
}